.topbar{
  height: 4rem;
  width: 100vw;
}

.sidebar{
  background-color: #323336;
  border-right: 1px solid #dee2e6;
  width: 10rem;
  height: calc(100vh - 4rem);
  position: fixed;
}
main{
  width: calc(100vw - 10rem);
  position: absolute;
  top: 4rem;
  left: 0;
  margin-left: 10rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
}