<div class="d-flex justify-content-between align-items-center">
  <h3>Services</h3>
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    (click)="openCreateModal()"
  >
    Add Service
  </button>
   <!-- Modal -->
  <div
    class="modal fade"
    id="createServiceModal"
    tabindex="-1"
    aria-labelledby="createServiceModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ isEditMode ? 'Update Service' : 'Create Service' }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="serviceForm"
            (ngSubmit)="submitForm()"
            class="row g-3"
          >
            <div class="col-md-6">
              <label class="form-label">Service Name</label>
              <input type="text" class="form-control" formControlName="name" />
            </div>


            <div class="col-md-6">
              <label class="form-label">Duration (mins)</label>
              <input type="number" class="form-control" formControlName="duration" />
            </div>
               <div class="col-md-6">
              <label class="form-label">Cost</label>
              <input type="number" class="form-control" formControlName="cost" />
            </div>

            <div class="col-6">
              <label class="form-label">Description</label>
              <input
                type="text"
                class="form-control"
                formControlName="description"
              />
            </div>

            <div class="col-6">
              <label class="form-label">Salon Id</label>
              <input
                type="text"
                class="form-control"
                formControlName="salon_id"
                readonly
              />
            </div>
         
            <div class="col-12">
              <button type="submit" class="btn btn-primary">
                 {{ isEditMode ? 'Update Service' : 'Create Service' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <table class="table table-bordered table-light" *ngIf="services.length">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Service Id</th>
      <th scope="col">Service Name</th>
      <th scope="col">Duration</th>
      <th scope="col">Description</th>
        <th scope="col">Cost</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ service.service_id }}</td>
      <td>{{ service.name }}</td>
      <td>{{ service.duration }} mins.</td>
      <td>{{ service.description }}</td>
      <td>Rs. {{ service.cost }}</td>
      <td class="gap-2 d-flex justify-content-start">
        <button class="btn btn-warning btn-sm"(click)="openEditModal(service)">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteService(service)">
          <i class="bi bi-trash3"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
